nav {
    /* background-color: bisque; */
}

.pagina {
    /* background-color: greenyellow; */
    height: 1650px;
}

.piano {
    background-color: bisque;
    height: 955px;
    width: calc(100% / 3 - 1.5rem);
}

.piano-verticale {
    background-color: bisque;
    height: 255px;
    width: 1000px;
}