* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
--primary-color: #0061FF;
--text-color: #000000;
}

html {
    font-family: 'Noto Sans Lao', Helvetica, Arial, sans-serif;
	line-height: 1.4;
}

body {
    margin-top: 80px;
}

footer {
    color: #FFFF;
    background-color: #000000;
}

.pagina {
    padding-top: 5rem;
}

.container-small {
    max-width: 940px;
    margin-inline: auto;
}

.container-big {
    max-width: 1040px;
    margin-inline: auto;
}

.btn {
    display: inline-block;
    text-align: center;
    font-size: .9rem;
    padding: .6em 1em;
    white-space: nowrap;
    height: fit-content;
}

.btn-primary {
    background-color: var(--primary-color);
    color: white;
}

.btn-trasparente {
    background-color: white;
    color: black;
    border: .5px solid black;
}

.btn-white {
    background-color: white;
    color: black;
}

/* HEADER */

header {
    background-color: #B5D0E7;;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    background-color: white;
}

.main-menu {
    display: flex;
    justify-content: space-between;
    padding-inline-end: .5rem;
}

.menu-small {
    display: flex;
}

.menu-small > div {
    display: flex;
}

.menu-small a {
    display: flex;
    align-items: center;
    padding-inline: 1em;
    color: var(--text-color);
    text-decoration: none;
}

header h1 {
    font-size: 4rem;
    padding: 4rem 0;
}

header .contents {
    display: flex;
    align-items: flex-start;
}

header .jumbo .text {
    flex: 0 0 30%;
}

header .jumbo .text p {
    margin-bottom: 2rem;
}

header .jumbo .text .btn-primary {
    margin-bottom: 2rem;
}

header .jumbo .text .arrow-down {
    color: #000000;
    font-size: 4rem;
}

header .jumbo img {
    flex: 0 0 70%;
    min-width: 0;
    margin-bottom: -75px;
}

/* MAIN */

.container-small .fatturazione {
    display: flex;
}

.container-small .radio-button {
    padding: 2rem 2rem 2rem 0;
}

.piano, .piano-verticale {
    border: 1px solid black;
    margin: 1.5rem 0;
    gap: 50px;
}

.piani-card .piano {
   flex: 0 0 calc((100% - 2 * 50px) / 3);
}

.piani-card .piano-verticale {
    flex: 0 0 100%;
}

.container-small h2 {
    font-size: 2rem;
    padding: 2rem 0;
}

.piani-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.piano ul {
    list-style: none;
    list-style-position: inside;
}

.piano li{
    display: flex;
    padding-top: 1rem;
}

.tipo-piano {
    padding: .5rem 0;
    text-align: center;
    border-bottom: 1px solid black;
}

.descrizione-piano {
    padding: 2rem 1.5rem;
}

.descrizione-piano li::before {
    content: "\f007";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    margin-inline-end: .5em;
}

.piano-verticale .descrizione-piano {
    display: flex;
    justify-content: space-between;
    padding: 2rem 1.5rem;
}

.descrizione-piano .tipo-prezzo {
    padding: 1rem 0;
}

.descrizione-piano .descrizione-funzioni div {
    padding: .5rem 0;
}

.descrizione-piano .prova-gratis {
    padding: .5rem 0;
}

.descrizione-piano .prova-gratis .btn{
    margin: 2rem 0;
    width: 100%;
}

.descrizione-piano .prova-gratis .acquista::after{
    content: '';
    display: block;
    margin-top: 1.5rem;
    width: 30%;
    border-top: 1px solid black;
}

.descrizione-piano .punti-salienti {
    padding-top: 1.5rem;
}

.descrizione-piano .punti-salienti li::before{
    content: "\f00c";
    font-family: "Font Awesome 6 Free";
    color: var(--primary-color);
    font-weight: 900;
    margin-inline-end: .5em;
}

.piano-verticale .descrizione-piano .descrizione {
    padding-right: 7rem;
}

.piano-verticale .descrizione-piano .descrizione h3 {
    margin-bottom: 1rem;
}

.piano-verticale .descrizione-piano .descrizione p {
    margin-top: 2.5rem;
}

/* PARTENER */

.container-small .partner {
    margin: 6rem 0 6rem 0;
    display: flex;
}

.container-small .partner img {
    min-width: 0;
    flex: 0 0 60%;
}

.container-small .partner .container {
    padding: 0 2rem;
}

.container-small .partner .container h3 {
    padding: 3rem 0 1rem 0;
    font-size: 1.5rem;
}
.container-small .partner .container .btn {
    margin-top: 2rem;
}

/* sezione operazioni Business */

.container-small .container-operazioni-business {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container-small .container-operazioni-business .operazioni-business {
    margin: 3rem 1.5rem 3rem 0;
    width: calc(100% / 3 - 2rem);
}

.container-small .container-operazioni-business .operazioni-business h3 {
    font-size: 1.5rem;
    margin: 1rem 0 2rem 0;
}

.container-small .container-operazioni-business .operazioni-business img {
    max-width: 100%;
}

.container-h2 {
    width: 60%;
}

/* sezione aziende */

.aziende {
    background-color: #B5D0E7;
}

.aziende .container-aziende {
    display: flex;
    margin-top: 8rem;
}

.aziende .container-aziende .box-azienda {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% / 2);
    height: calc(100vw / 6);
}

.container-dx, .container-center, .container-sx {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% / 3);
}

.container-center {
    background-color: #FFFF;
}

.aziende .container-aziende .container-center {
    padding: 3rem;
    justify-content: flex-start;
    align-items: flex-start;
}

.aziende .container-aziende img {
    color: white;
    flex: 0 0 50%;
    min-width: 0;
}

.aziende .container-small {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.aziende .container-small .container {
    width: 50%;
}

.aziende .container-small .btn {
    padding: .5rem 2rem;
}

.aziende .container-small h2 {
    padding: 7rem 0;
}

/* sezione domande frequenti */

.domande-frequenti h2 {
    font-size: 2rem;
    padding: 7rem 0 3rem 0;
}

.domande-frequenti .domanda {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
    border-top: 0.5px solid black;
}

.domande-frequenti .domanda i {
    padding-right: 3rem;
    font-size: .6rem;
}

/* footer */

footer .container-big {
    padding-top: 4rem;
}

footer .navbar-footer {
    display: flex;
    justify-content: space-between;
}

footer .top-link {
    font-weight: bold;
}

footer ul{
    list-style: none;
    margin: 1.5rem 0 5rem 0;
    font-size: .8rem;
}

footer li{
    line-height: 1.6rem;
}

footer .lingua {
    padding: 1.5rem 1rem 3rem 0 ;
    font-size: 0.8rem;
    border-top: 1px solid white;
    width: max-content;
}

footer .lingua i {
    padding-right: .5rem;
}